PORT=3001

# Arch Linux VM
ARCH_IP=192.168.1.100
ARCH_SSH_USER=root
ARCH_SSH_PASSWORD=tu_password_aqui

# Windows Server Core VM
WINSERVER_IP=192.168.1.101
WINSERVER_USER=Administrator
WINSERVER_PASSWORD=tu_password_aqui

# Windows 10 VM
WIN10_IP=192.168.1.102
