MAIL_DOMAIN=reprobados.com
MAIL_HOSTNAME=mail.reprobados.com

MARIADB_ROOT_PASSWORD=changeme_root
MARIADB_DATABASE=roundcube
MARIADB_USER=roundcube
MARIADB_PASSWORD=changeme_rc

ROUNDCUBE_DEFAULT_HOST=tls://mail.reprobados.com
ROUNDCUBE_SMTP_SERVER=tls://mail.reprobados.com
ROUNDCUBE_PORT=443
